<html>
    <head>
        <title>Chat Room</title>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
        <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>
    <body>
        <div id="login" class="login">
            <input type="text" id="name"  autofocus required="true"/>
            <input type="button" value="Enter your name" id="login-btn"/>
        </div>
        
        <div id="chatroom" class="chatroom">
             <input type="text" id="msg" autofocus/>
            <input type="button" value="Send" id="send"/>
            <table id="message-container-table">
            </table>
            
        </div>
    </body>
</html>